* {
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-size: 18px;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 255, 255);
}

header {
    overflow: hidden;
    height: 940px;
}

header img {
    position: relative;
    width: 100%;
    height: auto;
    background-size: cover;
}

h1 {
    position: absolute;
    top: 430px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 5rem;
}

main {
    margin: 75px 125px;
}

.intro {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.intro p {
    font-size: 1.5rem;
    letter-spacing: 3px;
    line-height: 30px;
}

.intro img {
    margin-top: 15px;
}

ul {
    text-align: left;
    margin-bottom: 30px;
    list-style-type: none;
}

ul li:before {
    content: "- ";
    color: black;
    font-size: inherit;
}

h3 {
    margin-bottom: 20px;
    text-align: left;
}

.ingredianc {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.recepi {
    margin-top: 40px;
    text-align: left;
}

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
}

ol li {
    counter-increment: my-awesome-counter;
}

ol li::before {
    content: counter(my-awesome-counter) ") ";
    color: rgb(5, 5, 5);
    font
}

main img {
    width: 450px;
    height: 100%;
}