body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
}

#intro {
background-image: url("images/apple-pie.jpg");
background-size:cover;
height: 500px;
width: 100%;
text-align: center;
vertical-align: middle;
}

.content {
    padding: 150px;
}


.icons {
  text-align:center;
}

img {
  height: 60px;
}

.icons-ingredients {
    background-image: url("images/recipe-info.png")
}

.icons-directions {
    background-image: url("images/cooking-info.png")

.content  {
    margin: 500px;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li { 
    padding-left: 16px; 
    color: dimgray;
  }
  
  li::before {
    content: "-";
    padding-right: 8px;
  }
